# Documentation & Sensitive files
/docs
.env*
!.env.example

# Scratch Text Files & Buffer
*.txt
!requirements.txt
!backend/requirements.txt

# Virtual Environments
.venv/
venv/
env/
**/venv/
**/env/

# Python Bytecode & Artifacts
__pycache__/
**/*.py[cod]
*$py.class
*.so

# Testing & Linting Caches
.pytest_cache/
**/.pytest_cache/
.ruff_cache/
.coverage
htmlcov/